<!--
  ~ Copyright 2016 Axibase Corporation or its affiliates. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License").
  ~ You may not use this file except in compliance with the License.
  ~ A copy of the License is located at
  ~
  ~ https://www.axibase.com/atsd/axibase-apache-2.0.pdf
  ~
  ~ or in the "license" file accompanying this file. This file is distributed
  ~ on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return logger.contains("org.apache.http") ||
                    logger.equals("org.jvnet.hk2.logger") ||
                    message.startsWith("Selected ExecutorServiceProvider implementation") ||
                    message.startsWith("Selected ScheduledExecutorServiceProvider implementation");
                </expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>

            <!-- no colors -->
            <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] [%class] %n%msg%n</pattern>

            <!-- colors -->

            <!--<pattern>%highlight(%-5level) %gray(%d{HH:mm:ss.SSS}) [%thread]-->
                <!--%green(%class{16}.%M\(%L\)):%cyan(%n%msg%n%n)-->
            <!--</pattern>-->

        </encoder>
    </appender>

    <logger name="org.glassfish.jersey.internal.util" level="ERROR"/>
    <logger name="org.glassfish.jersey.client.ClientExecutorProvidersConfigurator" level="ERROR"/>

    <logger name="com.axibase.tsd.api.listeners.RequestResponseOnFailWriter" level="INFO"/>

    <root level="${loggerLevel}">
        <!--<root level="info">-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
